@{
    ViewBag.Title = "S&H Wedding :: Stay in touch";
}
<div class="twelve columns">
    <h2>Get in touch</h2>
    Got a question? Like to tell us something?
    Just drop us a line at <a href="mailto:simonandhelen@needham.uk.net">simonandhelen@needham.uk.net</a>.
</div>
<div class = "twelve columns">
    <br/><br/>
    <h2>Stay up to date</h2>
    There's a few ways you can keep up to date with what's going on.
    <br/><br/>
    <ul class="bullet">
        <li>
            <b>Twitter:</b> <a href="https://twitter.com/simonwedshelen">@@simonwedshelen</a><br>
            Keep up to date with website changes or tweet us a question.
        </li>
        <li>
            <b>Instagram:</b> @@simonandhelen<br>
            We'll be sharing the odd photo or two, you'll be able to follow them on Instagram.
        </li>
        <li>
            <b>Flickr:</b> <a href="http://www.flickr.com/photos/simonandhelen2013/">www.flickr.com/photos/simonandhelen2013/</a><br>
            If you prefer Flickr, we'll also be posting photos to our Flickr photostream as well.
        </li>
        <li>
            <b>RSS:</b>
            We have RSS feeds available for you in both @Html.ActionLink("Atom", "Atom", "Syndication") 
    and @Html.ActionLink("RSS", "RSS", "Syndication") flavours.
        </li>
    </ul>
    <br/>
</div>