@{
    ViewBag.Title = "S&H Wedding :: About";
}
<div class="container">
    <div class="twelve columns">
        <h2>About this website</h2>
        This website was built with<a href="http://www.asp.net/mvc/mvc3/">Asp.Net MVC 3</a> utilising 
        <a href="http://www.getskeleton.com/">Skeleton</a>, an adaptive design framework I first learnt about from 
        <a href="http://www.hanselman.com/blog/EasyStepsToAMobilefriendlyResponsiveDesignWithAnEmbeddedYouTubeVideoAndAFluidResize.aspx">Scott Hanselman&apos;s blog</a>. This <a href="http://designshack.net/articles/css/build-a-responsive-mobile-friendly-web-page-with-skeleton/">guide from Design shack</a> 
        helped me understand <a href="http://www.getskeleton.com/">Skeleton</a>. Icons were provided by 
        <a href="http://glyphicons.com/">Glyphicons</a> and tweaked a little using <a href="http://www.getpaint.net/index.html">Paint.NET</a>. Images and graphics were produced by 
        <a href="mailto:simonandhelen@needham.uk.net">Helen</a> using <a href="http://www.adobe.com/uk/products/photoshop.html">Photoshop</a>.
        <a href="http://www.cssstickyfooter.com/">This</a> sticky footer technique was used to create a footer without those annoying vertical scrollbars.
        <p/><p/>
        The simple blog engine was developed from scratch in <a href="http://www.asp.net/mvc.mvc3">MVC</a> using <a href="http://msdn.microsoft.com/en-us/data/ee712907">Entity Framework - Code First</a> 
        for database access. The <a href="http://ckeditor.com/">CKEditor</a> text editor was used for writing blog post entries. The tag cloud is produced
        using code example provided by <a href="http://www.mikesdotnetting.com/Article/107/Creating-a-Tag-Cloud-using-ASP.NET-MVC-and-the-Entity-Framework">Mike Brind</a>. I switched this MVC website to use lower case URLs 
        using <a href="http://lowercaseroutesmvc.codeplex.com/">code</a> provided by <a href="http://leedumond.com">Lee Dumond</a>. 
        Lee has a nice, zero-fuss <a href="http://nuget.org/packages/LowercaseRoutesMVC/">Nuget Package</a> that installs a small assembly for you but since the source code 
        was so small I just lifted it as-is from <a href="http://lowercaseroutesmvc.codeplex.com/">his CodePlex page</a>. The 
        countdown numbers are displayed using a JQuery plugin called <a href="http://bloggingsquared.com/jquery/flipcounter/">flipCounter</a>.
        <p/>
        Source files were managed using <a href="http://git-scm.com/">Git</a> and a copy of the <a href="https://github.com/simonneedham/Wedding">git repository</a> is hosted on 
        <a href="http://github.com/">GitHub</a>. GitHub is just being used to keep decent backups of the website, ie if you 
        fork the hosted repository and send me a pull-request... it's probably going to get ignored - sorry. Though feel free, however, 
        to browse the code, you'll see that the site is making genuine OAuth and Facebook Connect requests to authenticate user logins 
        and no passwords are stored at any time. I'm using the <a href="http://www.dotnetopenauth.net/">DotNetOpenAuth</a> package to handle all the Twitter &
        Facebook authentication.
        <p/>
        The website is all hosted on the <a href="http://www.windowsazure.com/">Azure platform</a> and I utilise <a href="http://www.windowsazure.com/en-us/develop/net/common-tasks/publishing-with-git/">Azure&apos;s Git support</a> to 
        automaticaly update the site whenever the <a href="http://git-scm.com/book/en/Git-Branching-Branching-Workflows">master branch</a> is updated.
    </div>
</div>