@{
    ViewBag.Title = "S&H Wedding :: How to get there";
}
<div class="container">
    <div class="twelve columns">
        <h2>How to get there</h2>
        <b>
            Old Luxters Barn<br/>
            Hambleden<br/>
            Henley-on-Thames<br/>
            Oxfordshire<br/>
            RG9 6JW<br/><br/>
        </b>
        <p>
            Once on the A4155 Henley / Marlow road at Mill End, approximately half way between Henley and Marlow, take the Hambleden turning, marked with a brown sign - 'Chiltern Valley Winery and Brewery', which is where you'll find Old Luxters Barn.<br/><br/>
            Follow this road for about 2 miles and after passing the village of Hambleden on your right continue for approximately 1 mile where you take the first and only road to the left (also signed to the Winery and Brewery).<br/><br/>
            The road climbs through steep woodland and the entrance to Old Luxters Barn car park is on the left hand side at the top of the hill. Old Luxters Barn can be found opposite the entrance to the car park.
        </p>
    </div>
</div>