@model Wedding.Models.Rsvp

@{
    ViewBag.Title = "RSVP Received";
}

<h2>RSVP Received</h2>

@if (Model.NoOfAttendees > 0)
{
    <p>Hey great news, we look forward to seeing you on the day.</p>
}
else
{
    <p>We're really sorry to hear you can't make it, hopefully we can catch up soon.</p>
    <p>
    If you'd like to send a message to be read out on the day you can send it to Sean the best man at
    this address <a href="mailto:seanthebestman@needham.uk.net">seanthebestman@needham.uk.net</a>
    </p>
}
