@{
    ViewBag.Title = "S&H Wedding :: How to get there";
}
<div class="twelve columns">
    <h2>Where to stay</h2>
    <ul class="bullet">
        <li><b>The Compleat Angler, Marlow, Buckinghamshire</b><br>
            Part of the well known Macdonald Group of hotels based in the picturesque town of
            Marlow.<br>
            Telephone: 0870 400 8100<br>
            <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-compleat-angler/">www.macdonaldhotels.co.uk/our-hotels/macdonald-compleat-angler/</a><br>
            <br>
        </li>
        <li><b>Danesfield House, Hotel &amp; Spa, Marlow, Buckinghamshire</b><br>
            A 4 star Spa hotel only 10 minutes drive away. Luxters have secured exclusive
            rates, so please remember to mention Luxters barn when booking.
            <br>
            Telephone: 01628 891010<br>
            <a href="http://www.danesfieldhouse.co.uk">www.danesfieldhouse.co.uk</a><br>
            <br>
        </li>
        <li><b>The Fox Country Inn</b><br>
            This hotel nestles amongst the rolling Chiltern Hills, surrounded by beautiful woodland
            and countryside and is only about 5 miles from Old Luxters Barn. They offer special
            rates to Luxters barn clients, so do mention Luxters when booking.<br>
            Telephone: 01491 639333<br>
            <a href="http://www.foxcountryinn.co.uk">www.foxcountryinn.co.uk</a><br>
            <br>
        </li>
        <li><b>Hotel du Vin and Bistro, Henley on Thames</b><br>
            A four star centrally located hotel, by the river, very popular with Luxters guests.<br>
            Telephone: 01491 848400<br>
            <a href="http://www.hotelduvin.com">www.hotelduvin.com</a><br>
            <br>
        </li>
        <li><b>Milsoms, Henley-on-Thames</b><br>
            Situated in a listed building above the Loch Fyne Restaurant, the accommodation comprises seven 
            light and airy bedrooms all with en-suite facilities. The individually designed rooms combine 
            original architectural features with contemporary furnishings and décor.<br>
            Telephone: 01491 845789<br>
            <a href="http://www.milsomshotel.co.uk/henley.php">www.milsomshotel.co.uk/henley.php</a><br>
            <br>
        </li>
        <li><b>The Catherine Wheel, Henley-on-Thames</b><br>
            A four hundred year old pub, located centrally in Henley, with accomodation.<br>
            Telephone: 01491 848488<br>
            <a href="http://www.jdwetherspoon.co.uk/home/pubs/the-catherine-wheel">www.jdwetherspoon.co.uk/home/pubs/the-catherine-wheel</a><br>
            <br>
        </li>
        <li><b>Premier Inn, Marlow</b><br>
            Lenny Henry's prefered hotel chain.<br>
            Telephone: 0871 527 8766<br>
            <a href="http://www.premierinn.com/en/hotel/MARGEO/marlow">www.premierinn.com/en/hotel/MARGEO/marlow</a><br>
            <br>
        </li>
        <li><b>Holiday Inn, High Wycombe</b><br>
            Telephone: 0871 423 4896<br>
            <a href="http://www.ihg.com/holidayinn/hotels/gb/en/high-wycombe/hycbk/hoteldetail?destination=High+Wycombe">www.ihg.com/holidayinn/hotels/gb/en/high-wycombe/hycbk/hoteldetail?destination=High+Wycombe</a><br>
            <br>
        </li>
        <li><b>Tourist Information Centre, Henley-on-Thames</b><br>
            Telephone: 01491 578034<br>
            <a href="http://www.visitoxfordandoxfordshire.com/">www.visitoxfordandoxfordshire.com/</a><br>
            <br>
        </li>
        <li><b>Tourist Information Centre, Marlow</b><br>
            Telephone: 01628 483597<br>
            <a href="http://www.visitoxfordandoxfordshire.com/">www.visitoxfordandoxfordshire.com/</a><br>
            <br>
        </li>
    </ul>
</div>
