@{
    ViewBag.Title = "S&H Wedding :: How to get there";
}
<div class="container">
    <div class="twelve columns">
        <h2>Where to stay</h2>
        <ul class="bullet">
            <li><b>The Compleat Angler, Marlow, Buckinghamshire</b><br>
                Part of the well known Macdonald Group of hotels based in the picturesque town of
                Marlow.<br>
                Telephone: 0870 400 8100<br>
                <a href="http://www.macdonaldhotels.co.uk/our-hotels/macdonald-compleat-angler/">www.macdonaldhotels.co.uk/our-hotels/macdonald-compleat-angler/</a><br>
                <br>
            </li>
            <li><b>Danesfield House, Hotel &amp; Spa, Marlow, Buckinghamshire</b><br>
                A 4 star Spa hotel only 10 minutes drive away. Luxters have secured exclusive
                rates, so please remember to mention Luxters barn when booking.
                <br>
                Telephone: 01628 891010<br>
                <a href="http://www.danesfieldhouse.co.uk">www.danesfieldhouse.co.uk</a><br>
                <br>
            </li>
            <li><b>Henley Business School</b><br>
                A Business School situated in 30 acres of beautiful parkland on the banks of the
                River Thames about 10 minutes drive from Old Luxters Barn. They have 100 ensuite
                rooms including family rooms and offer special rates for Luxters clients which includes
                breakfast and leisure facilities. Mention Luxters barn when booking.<br>
                Telephone: 01491 571454<br>
                <a href="http://www.henleyconferences.co.uk">www.henleyconferences.co.uk</a><br>
                <br>
            </li>
            <li><b>The Fox Country Inn</b><br>
                This hotel nestles amongst the rolling Chiltern Hills, surrounded by beautiful woodland
                and countryside and is only about 5 miles from Old Luxters Barn. They offer special
                rates to Luxters barn clients, so do mention Luxters when booking.<br>
                Telephone: 01491 639333<br>
                <a href="http://www.foxcountryinn.co.uk">www.foxcountryinn.co.uk</a><br>
                <br>
            </li>
            <li><b>The Frog at Skirmett, Nr Henley on Thames</b><br>
                Another local village pub close to Old Luxters Barn.<br>
                Telephone: 01491 638996<br>
                <a href="http://www.thefrogatskirmett.co.uk">www.thefrogatskirmett.co.uk</a><br>
                <br>
            </li>
            <li><b>The Stag &amp; Huntsman Pub, Hambleden, nr Henley on Thames</b><br>
                Local village pub in the nearest village to Old Luxters Barn, three rooms only so
                book early.<br>
                Telephone: 01491 571227<br>
                <a href="http://www.stagandhuntsman.com">www.stagandhuntsman.com</a><br>
                <br>
            </li>
            <li><b>Hotel du Vin and Bistro, Henley on Thames</b><br>
                A four star centrally located hotel, by the river, very popular with Luxters guests.<br>
                Telephone: 01491 848400<br>
                <a href="http://www.hotelduvin.com">www.hotelduvin.com</a><br>
                <br>
            </li>
        </ul>
    </div>
</div>
