@{
    ViewBag.Title = "S&H Wedding :: Home";
}
@Html.Partial("_NewsListPartial")
<div class="container">
    <div class = "sixteen columns">
        @Html.ActionLink("Older posts...", "Index", "News")
    </div>
</div>